@import "tailwindcss";

@theme {
  --color-brand: #22c55e;
  --color-brand-dark: #166534;
}

:root {
  --background: #c7cbcf;
  --foreground: #0f172a;
}

.dark {
  --background: #050505;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html,body{
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
}

/* globals.css */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


/* For Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px; /* very thin */
  height: 6px; /* horizontal scrollbar if any */
}
::-webkit-scrollbar-track {
  background: transparent; /* hide the track */
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1); /* almost invisible */
  border-radius: 10px;
}
/* Optional: hover effect */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}
/* For Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}