@import "tailwindcss";

@theme {
  --color-brand: #22c55e; /* Emerald Green */
  --color-brand-dark: #166534;
}

:root {
  --background: #050505;
  --foreground: #ededed;
}
/* :root {
  --background: #ffffff;
  --foreground: #0a0a0a;
} */

.dark {
  --background: #050505;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
